<ion-card class="adds-card">
  <ion-row>
    <ion-col size="4">
      <div class="product-image">
        <img src="../../../assets/images/d-1.jpg" alt="product image" />
      </div>
    </ion-col>
    <ion-col class="product-details" size="8">
      <div class="product-title">
        <ion-label class="product-name">
          Canon EOS 3000D DSLR Camera Single Kit with 18-55 lens
        </ion-label>
        <ion-button slot="end" fill="clear">
          <ion-icon name="md-more"></ion-icon>
        </ion-button>
      </div>
     
      <div class="other-details">
          <div class="address"> 
            <ion-icon name="pin"></ion-icon>Hadapsar, Pune, Maharashtra
          </div>
          <div class="rent-amt">
            <strong>Rent - </strong> &#8377; 1200 per Month
          </div>
        </div>
    </ion-col>
    <ion-col size="12">
      <div class="ads-status pending">
        Ad is pending for approval
      </div>
    </ion-col>
  </ion-row>
</ion-card>
