<app-header title="Policy Enquiry" [showBack]="true"></app-header>

<ion-content>
  <div class="page">
    <form class="enquiry-form" (submit)="doEnquiry()">
      <ion-list>
        <ion-item>
          <span item-right>
            <img src="../../assets/images/enquiry/user (1).png" />
          </span>
          <ion-input type="text" placeholder="Enter your mobile number"></ion-input>
        </ion-item>
        <ion-item>
          <span item-right>
            <img src="../../assets/images/enquiry/gender.png" />
          </span>
          <ion-input type="text" placeholder="Enter your mobile number"></ion-input>
        </ion-item>
        <ion-item>
          <span item-right>
            <img src="../../assets/images/enquiry/calendar.png" />
          </span>
          <ion-input type="text" placeholder="Enter your mobile number"></ion-input>
        </ion-item>
        <ion-item>
          <span item-right>
            <img src="../../assets/images/enquiry/rupee-indian.png" />
          </span>
          <ion-input type="text" placeholder="Enter your mobile number"></ion-input>
        </ion-item>
        <ion-item>
          <span item-right>
            <img src="../../assets/images/enquiry/telephone.png" />
          </span>
          <ion-input type="text" placeholder="Enter your mobile number"></ion-input>
        </ion-item>
        <ion-item>
          <span item-right>
            <img src="../../assets/images/enquiry/envelope.png" />
          </span>
          <ion-input type="text" placeholder="Enter your mobile number"></ion-input>
        </ion-item>
        <ion-item>
          <span item-right>
            <img src="../../assets/images/enquiry/hotel.png" />
          </span>
          <ion-input type="text" placeholder="Enter your mobile number"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button type="submit" expand="block" color="warning">SHOW QUOTES</ion-button>
    </form>
  </div>
</ion-content>
