<app-header title="View Cart" [showBack]="true"></app-header>

<ion-content>
  <div class="view-cart-section">
    <div class="cart-banner">
        <p>Post 500 Ads</p>
        <h3> &#8377; 8,999 </h3>
    </div>

    <div class="price-details-box">
      <h2>price details</h2>
      <ul class="price-list">
        <li>
          <span>Price</span>
          <span>&#8377; 8,999</span>
        </li>
        <li>
          <span>Discount</span>
          <span>&#8377; 0</span>
        </li>
        <li>
          <span>Total</span>
          <span>&#8377; 8,999</span>
        </li>
      </ul>
    </div>

    <div class="btn-group">
      <ion-button routerLink="/payment-methods" expand="block" color="primary">Pay now</ion-button>
    </div>
  </div>
</ion-content>
