<app-header title="My Adds" [showBack]="true"></app-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding" size="12">
        <app-adds-box></app-adds-box>
      </ion-col>
      <ion-col class="btn-padding" size="12">
        <ion-button expand="block" color="tertiary" fill="outline" routerLink="/add-rent-details">  
          <ion-icon name="add"></ion-icon> Add Rent</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>    
</ion-content>
<app-footer></app-footer>