<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" color="dark" fill="clear" routerLink="/home" routerLinkActive="footer-btn-active">
          <ion-icon class="footer-icon" name="home"></ion-icon>
          Home
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="active" expand="full" color="dark" fill="clear" routerLink="/earning" routerLinkActive="footer-btn-active">
          <ion-icon class="footer-icon" name="wallet"></ion-icon>
          Dashboard
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>