<ion-footer>
  <ion-grid>
        <div class="footer-menu-list">
          <ion-button color="dark" fill="clear" routerLink="/home" routerLinkActive="footer-btn-active">
            <div class="footer-icon-box">
              <ion-icon class="footer-icon" name="home"></ion-icon>
              <span class="f-name">Home</span>
            </div>
          </ion-button>
          <ion-button color="dark" fill="clear" routerLink="/my-adds" routerLinkActive="footer-btn-active">
            <div class="footer-icon-box">
              <ion-icon class="footer-icon" name="paper"></ion-icon>
              <span class="f-name">My Adds</span>
            </div>
          </ion-button>
          <ion-button color="dark" fill="clear" routerLink="/add-rent-details" routerLinkActive="footer-btn-active">
            <div class="footer-icon-box">
              <ion-icon class="footer-icon-middle" name="add"></ion-icon>
              <span class="f-name">Rent</span>
            </div>
          </ion-button>
          <ion-button color="dark" fill="clear" routerLink="/paper" routerLinkActive="footer-btn-active">
            <div class="footer-icon-box">
              <ion-icon class="footer-icon" name="chatbubbles"></ion-icon>
              <span class="f-name">Chat</span>
            </div>
          </ion-button>
          <ion-button color="dark" fill="clear" routerLink="/me" routerLinkActive="footer-btn-active">
            <div class="footer-icon-box">
              <ion-icon class="footer-icon" name="contact"></ion-icon>
              <span class="f-name">Me</span>
            </div>
          </ion-button>
        </div>
  </ion-grid>
</ion-footer>