<app-auth-header title=""></app-auth-header>

<ion-content>
  <div class="page">
    <form class="otp-form" (submit)="validateOtp()">
      <img src="../../assets/images/login/otp-icon.png" class="otp-image" />
      <div class="ion-text-center">
        <p class="sent-otp">4 digit OTP has been sent to</p>
        <h2>9876543210</h2>
        <app-otp-input></app-otp-input>
      </div>
      <ion-button type="submit" expand="block" color="primary">VERIFY</ion-button>
      <p class="ion-text-center new-otp">
        Don't get the OTP?
        <ion-button *ngIf="otpWaitTime <= 0" fill="clear" color="primary" (click)="resendOtp()">Resend OTP</ion-button>
        <ion-button *ngIf="otpWaitTime > 0" fill="clear" color="primary" disabled>
          Resend OTP in {{otpWaitTime}}s
        </ion-button>
      </p>
    </form>
  </div>
</ion-content>
