<app-header title="Wishlist" [showBack]="true"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding" size="12">
        <app-wishlist-card></app-wishlist-card>
      </ion-col>
      <ion-col class="ion-no-padding" size="12">
        <app-wishlist-card></app-wishlist-card>
      </ion-col>
      <ion-col class="ion-no-padding" size="12">
        <app-wishlist-card></app-wishlist-card>
      </ion-col>
      <ion-col class="ion-no-padding" size="12">
        <app-wishlist-card></app-wishlist-card>
      </ion-col>
      <ion-col class="ion-no-padding" size="12">
        <app-wishlist-card></app-wishlist-card>
      </ion-col>
    </ion-row>
  </ion-grid>    
</ion-content>
