:host {
  height: 130px;
  display: block;
  border-radius: 12px;
  background-color: #fff;
  font-size: 12px;
  color: #535353;
  margin: 3px;
  overflow: hidden;

  div.category-card {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    .cat-title {
      margin: 0;
      font-size: 14px;
      padding: 0 10px;
    }
    .category-images {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90px;
      height: 90px;
      margin: auto;
      margin-bottom: 7px;
      background-color: rgba(30, 49, 157, 0.10);
      border-radius: 50%;
      img {
        width: 54px;
      }
    }
  }
}