:host {
  height: 125px;
  display: block;
  border-radius: 12px;
  box-shadow: 0px 3px 3px 0 #cccccc;
  border: solid 1px #ececec;
  background-color: #fff;
  padding: 14px;
  font-size: 12px;
  color: #222;
  margin: 3px;

  div {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;

    .icon {
      width: 60px;
      height: 60px;
      margin: auto;
      margin-bottom: 7px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}