<app-header title="Ads Packages" [showBack]="true"></app-header>

<ion-content>
  <ion-grid class="page-Packages">
    <ion-row>
      <ion-col size="12">
          <div class="sponsored-box">
              <img src="../../assets/images/sponsored-ads.png" alt="sponsored" />
              <h3>Sponsored Ads</h3>
          </div>
      </ion-col>
      <ion-col class="post-section" size="12">
        <h2 class="post-title">Post More Ads</h2>
        <div class="check-point">
          <ion-icon name="checkmark"></ion-icon> Package available for 30days
        </div>
      </ion-col>
      <ion-col class="ads-amt-box" size="12">
        <ion-radio-group class="ads-amt">
          <div class="checkbox-item">
            <ion-item>
              <ion-label>500 ADS</ion-label>
              <ion-radio slot="end" value="500-ADS"></ion-radio>
            </ion-item>
            <div class="amt">
              &#8377; 8,999
            </div>
          </div>
          <div class="checkbox-item">
            <ion-item>
              <ion-label>50 ADS</ion-label>
              <ion-radio slot="end" value="50-ADS"></ion-radio>
            </ion-item>
            <div class="amt">
              &#8377; 1,999
            </div>
          </div>
        </ion-radio-group>
      </ion-col>
      <ion-col class="post-section" size="12">
        <h2 class="post-title">Boost to top</h2>
        <div class="check-point">
          <ion-icon name="checkmark"></ion-icon> Back on top like a new ad
        </div>
        <div class="check-point">
          <ion-icon name="checkmark"></ion-icon> Package available for 30days
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-button routerLink="/ads-packages-pay" expand="block" color="primary">Next</ion-button>
      </ion-col>
    </ion-row>  
  </ion-grid>
</ion-content>
