.page-Packages {
    padding: 0px 10px;
    .sponsored-box {
        text-align: center;
        img {
            width: 104px;
        }
        h3 {
            margin-top: 0;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}