<app-auth-header title=""></app-auth-header>

<ion-content>
  <div class="page">
    <form class="login-page" (submit)="doLogin()">
      <img src="../../assets/images/policyTM-logo.png" class="logo">
      <h1>Hello there!</h1>
      <h4>Welcome</h4>
      <p>Login to continue with your mobile number</p>
      <ion-item>
        <span item-right>+91</span>
        <ion-input type="text" placeholder="Enter your mobile number"></ion-input>
      </ion-item>
      <p>(A 4-digit OTP will be sent via SMS to verify your mobile number)</p>

      <ion-button type="submit" expand="block" color="warning">LOGIN</ion-button>
    </form>
  </div>
</ion-content>
