<app-auth-header title=""></app-auth-header>

<ion-content>
  <div class="page">
    <form class="login-page" (submit)="doLogin()">
      <img src="../../assets/images/login/login.png" class="login-icon">
      <h1>Sign in to Renttun</h1>
      <ion-item>
        <span item-right>+91</span>
        <ion-input type="text" placeholder="Enter mobile number"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block" color="primary">Next</ion-button>
      <p class="tc-text">By signing up, I agree to the <a href="#.">Terms and Conditions</a></p>
    </form>
  </div>
</ion-content>
