<app-auth-header title=""></app-auth-header>

<ion-content>
  <div class="page">
    <form class="intro-page" (submit)="Login()">
      <img src="../../assets/images/intro/intro.png" class="intro-image">
      <h1>Rent anything on renttum</h1>
      <ion-button type="submit" expand="block" color="primary">CONTINUE WITH PHONE</ion-button>
      <div class="sign-divide">
        - Or sign in with -
      </div>
      <div class="social-media-btn">
        <ion-button class="ion-no-padding" (click)="setNumber()" shape="round" color="danger"><ion-icon name="logo-google"></ion-icon> Google</ion-button>
        <ion-button class="ion-no-padding" (click)="setNumber()" shape="round" color="primary"><ion-icon name="logo-facebook"></ion-icon> Facebook</ion-button>
      </div>
    </form>
  </div>
</ion-content>
