<ion-card class="product-card ion-no-margin" [routerLink]="getLink()">
  <div class="product-image">
    <img src="../../../assets/images/noike.jpg" />
  </div>
  <ion-card-header class="ion-no-padding">
    <ion-card-subtitle class="product-name">New camera original Nikon camera D7200...</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <div class="rent-info">
      <div class="rent-title">Rent</div>
      <div class="amt"> &#8377; 1500/mo</div>
    </div>
  </ion-card-content>
</ion-card>
