ion-item {
  --inner-padding-end: 0;
  &.item-label-stacked {
    .label-stacked {
      display: inline-block;
      margin: 0;
      position: absolute;
      left: 15px;
      top: 1px;
      background: #fff;
      z-index: 9;
      padding: 0 5px;
      color: #1f234f;

      sub {
        bottom: 0;
      }
    }

    ion-input {
      --padding-start: 10px;
      --background: #f6f6f6;
      input {
        --padding-start: 16px;
        --padding-top: 14px;
        --padding-bottom: 14px;
        border: 1px solid var(--border-color)!important;
        transform: none!important;
        scale: none!important;
      }
    }

    ion-select {
      margin-top: 9px;
      --padding-start: 16px;
      --padding-top: 14px;
      --padding-bottom: 14px;
      border: 1px solid var(--border-color)!important;
    }

    ionic-selectable {
      margin-top: 9px;
      padding-left: 16px;
      padding-top: 14px;
      padding-bottom: 14px;
      border: 1px solid var(--border-color)!important;
    }
  }
}
.rent-form {
  padding: 10px;
  ion-item {
    --padding-start: 0;
    --padding-end: 0;
    --padding-bottom: 1rem;
    ion-input {
      --padding-start: 10px;
      --background: #f6f6f6;
    }
    ion-select {
      --background: #f6f6f6;
     }   
  }
}
.mt-2 {
  margin-top: 2rem;
}
