ion-button {
  text-transform: uppercase;
  &.ion-color-primary {
    &.button-block {
      &.button-solid {
        --ion-color-base: none!important;
        box-shadow: 0px 3px 12px 0 rgba(30, 49, 157, 0.4);
        background-image: linear-gradient(to top, #1f36b6, #1e319d);
        height: 46px;
        text-transform: uppercase;
        border-radius: 5px;
      }
    }
  }
}