<app-header title="Product details" [showBack]="true"></app-header>

<ion-content>
<div class="product-slider">
  <ion-slides pager="true" [options]="productSlide">
    <ion-slide>
      <ion-card class="product-card">
        <img src="../../assets/images/d-1.jpg" alt="product image" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="product-card">
        <img src="../../assets/images/d-2.jpg" alt="product image" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="product-card">
        <img src="../../assets/images/d-3.jpg" alt="product image" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="product-card">
        <img src="../../assets/images/d-4.jpg" alt="product image" />
      </ion-card>
    </ion-slide>
  </ion-slides>
</div>
<ion-grid class="product-details-section">
  <div class="product-title">
    <h2>Canon PowerShot SX540HS 20.3MP Digital Camera with 50x Optical Zoom (Black)</h2>
  </div>

  <div class="user-details">
    <div class="user-box">
        <span class="user-image"><img src="../../assets/images/user.png" alt="user image" /> </span>
        <div class="user-info">
          <p>Owned By</p>
          <h3>Rahul Sharma</h3>
        </div>
    </div>
    <div class="like-btn">
      <ion-icon name="md-heart"></ion-icon>
    </div>
  </div>

    <ion-row class="product-prize-row">
      <ion-col class="product-col divider-right" size="6">
        <div class="product-amt">
          <h3>&#8377; 1500</h3> 
          <span class="product-title">per month</span>
        </div>
      </ion-col>
      <ion-col class="product-col" size="6">
        <div class="deposit-amt">
          <h3>&#8377; 15000</h3> 
          <span class="product-title">Deposit Refundable</span>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="des-section" size="12">
        <h4 class="title">Description of product</h4>
        <ul class="product-list">
          <li>Sensor: APS-C CMOS Sensor with 24.1 MP (high resolution for large prints and image cropping)</li>
          <li>ISO: 100-6400 sensitivity range (critical for obtaining grain-free pictures, especially in low light)</li>
          <li>Image Processor: DIGIC 4+ with 9 autofocus points (important for speed and accuracy of autofocus and burst photography)</li>
          <li> Video Resolution: Full HD video with fully manual control and selectable frame rates (great for precision and high-quality video work)</li>
          <li> Connectivity: WiFi, NFC and Bluetooth built-in (useful for remotely controlling your camera and transferring pictures wirelessly as you shoot)</li>
          <li>Lens Mount: EF-S mount compatible with all EF and EF-S lenses (crop-sensor mount versatile and compact, especially when used with EF-S lenses)</li>
        </ul>
      </ion-col>
    </ion-row>
    
</ion-grid>

</ion-content>
