<app-header title="Product details" [showBack]="true"></app-header>

<ion-content>
<div class="product-slider">
  <ion-slides pager="true" [options]="productSlide">
    <ion-slide>
      <ion-card class="product-card">
        <img src="../../assets/images/d-1.jpg" alt="product image" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="product-card">
        <img src="../../assets/images/d-2.jpg" alt="product image" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="product-card">
        <img src="../../assets/images/d-3.jpg" alt="product image" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="product-card">
        <img src="../../assets/images/d-4.jpg" alt="product image" />
      </ion-card>
    </ion-slide>
  </ion-slides>
</div>
<div class="product-details-section">
  <div class="product-title">
    <h2>Canon PowerShot SX540HS 20.3MP Digital Camera with 50x Optical Zoom (Black)</h2>
  </div>
</div>

</ion-content>
