<app-auth-header title=""></app-auth-header>

<ion-content>
  <div class="page">
    <form class="set-password-page" (submit)="validatePassword()">
      <h1>Please Enter Below Details</h1>
        <ion-input type="text" placeholder="Enter Your Name"></ion-input>
        <ion-input type="text" placeholder="Email Address"></ion-input>
        <ion-input type="number" placeholder="Mobile Number*"></ion-input>
        <!-- <ion-input type="Password" placeholder="Confirm Password"></ion-input> -->
      
      <ion-button type="submit" expand="block" color="primary">Next</ion-button>
    </form>
  </div>
</ion-content>
