<app-header title="Bank Details" [showBack]="true"></app-header>

<ion-content>
  <div class="page">
    <form class="refer-form" (submit)="doRedeem()">
      <ion-list>
        <ion-item>
          <span item-right>
            <img src="../../assets/images/bank_details/user (1).png" />
          </span>
          <ion-input type="text" placeholder="Enter your mobile number"></ion-input>
        </ion-item>
        <ion-item>
          <span item-right>
            <img src="../../assets/images/bank_details/bank (3).png" />
          </span>
          <ion-input type="text" placeholder="Enter your mobile number"></ion-input>
        </ion-item>
        <ion-item>
          <span item-right>
            <img src="../../assets/images/bank_details/calculator (2).png" />
          </span>
          <ion-input type="text" placeholder="Enter your mobile number"></ion-input>
        </ion-item>
        <ion-item>
          <span item-right>
            <img src="../../assets/images/bank_details/push-pin.png" />
          </span>
          <ion-input type="text" placeholder="Enter your mobile number"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button type="submit" expand="block" color="warning">SUBMIT</ion-button>
    </form>
  </div>
</ion-content>
