.rent-form {
    padding: 10px;
    ion-item {
        --padding-start: 0;
        --padding-end: 0;
        --padding-bottom: 1rem;
        ion-textarea {
            min-height: 140px;
        }
    }
}