.rent-form {
    padding: 10px;
    ion-item {
        --padding-start: 0;
        --padding-end: 0;
        --padding-bottom: 1rem;
        ion-textarea, ion-input {
            --background: #f6f6f6;
        }
        ion-textarea {
            min-height: 140px;
        }
    }
}