<app-header title=" Home Furniture " [showBack]="true"></app-header>
<ion-content>
  <ion-grid class="all-Categories-section">
    <ion-row>
      <ion-col size="12" class="Categories-list">
        <app-sub-categories-card></app-sub-categories-card>
      </ion-col>
      <ion-col size="12" class="Categories-list">
        <app-sub-categories-card></app-sub-categories-card>
      </ion-col>
      <ion-col size="12" class="Categories-list">
        <app-sub-categories-card></app-sub-categories-card>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>

