<app-header title="Refer A Friend" [showBack]="true"></app-header>

<ion-content>
  <div class="page">
    <form class="refer-form" (submit)="doRefer()">
      <ion-list>
        <ion-item>
          <span item-right>
            <img src="../../assets/images/refer friends/user (1).png" />
          </span>
          <ion-input type="text" placeholder="Enter your mobile number"></ion-input>
        </ion-item>
        <ion-item>
          <span item-right>
            <img src="../../assets/images/refer friends/shield.png" />
          </span>
          <ion-input type="text" placeholder="Enter your mobile number"></ion-input>
        </ion-item>
        <ion-item>
          <span item-right>
            <img src="../../assets/images/refer friends/rupee-indian.png" />
          </span>
          <ion-input type="text" placeholder="Enter your mobile number"></ion-input>
        </ion-item>
        <ion-item>
          <span item-right>
            <img src="../../assets/images/refer friends/telephone.png" />
          </span>
          <ion-input type="text" placeholder="Enter your mobile number"></ion-input>
        </ion-item>
        <ion-item>
          <span item-right>
            <img src="../../assets/images/refer friends/envelope.png" />
          </span>
          <ion-input type="text" placeholder="Enter your mobile number"></ion-input>
        </ion-item>
        <ion-item>
          <span item-right>
            <img src="../../assets/images/refer friends/hotel.png" />
          </span>
          <ion-input type="text" placeholder="Enter your mobile number"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button type="submit" expand="block" color="warning">REFER FRIEND</ion-button>
    </form>
  </div>
</ion-content>
