<app-header></app-header>

<ion-content>
  <div style="height: 190px;margin-bottom: 20px;">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-card class="welcome-card">
          <img src="../../assets/images/home/banner1.png" alt="" />
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="welcome-card">
          <img src="../../assets/images/home/banner2.png" alt="" />
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="welcome-card">
          <img src="../../assets/images/home/banner3.png" alt="" />
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <ion-grid class="Categories-section">
    <ion-row>
      <ion-col>
        <div class="title-box">
          <h3 class="title">Explore Categories</h3>
          <a class="link-text" href="#.">View All</a> 
        </div>
      </ion-col>
    </ion-row>  
    <ion-row>
      <ion-col size="4" *ngFor="let category of category">
        <app-home-button [title]="category.TypeName" [typeId]="category.ProductTypeId" [image]="category.ProdTypePic"></app-home-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="product-section">
    <ion-row>
      <ion-col>
        <div class="title-box">
          <h3 class="title">Products Like to Rent</h3>
        </div>
      </ion-col>
    </ion-row>  
    <ion-row>
      <ion-col size="6">
          <app-product-card></app-product-card>
      </ion-col>
      <ion-col size="6">
        <app-product-card></app-product-card>
      </ion-col>
      <ion-col size="6">
        <app-product-card></app-product-card>
      </ion-col>
      <ion-col size="6">
        <app-product-card></app-product-card>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

<app-footer></app-footer>
